<div class="">
  <%= form_with(model: solution, class: "") do |form| %>
    <% if solution.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 font-medium rounded-md mt-3">
        <h2><%= pluralize(solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

        <ul class="list-disc ml-6">
          <% solution.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :puzzle_id, value: solution.puzzle_id %>
    <%= form.text_field :guess, class: ["mr-2 rounded-sm border px-1", {"border-gray-400 focus:outline-blue-600": solution.errors[:most_recent_guess].none?, "border-red-400 focus:outline-red-600": solution.errors[:guesses].any?}] %>

    <%= form.submit "guess", class: "w-20 bg-slate-200 border rounded-sm px-1 font-medium cursor-pointer" %>
  <% end %>
</div>
