<%= form_with(model: solution, class: "contents") do |form| %>
  <% if solution.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

      <ul class="list-disc ml-6">
        <% solution.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :status %>
    <%= form.text_field :status, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": solution.errors[:status].none?, "border-red-400 focus:outline-red-600": solution.errors[:status].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :guesser_name %>
    <%= form.text_field :guesser_name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": solution.errors[:guesser_name].none?, "border-red-400 focus:outline-red-600": solution.errors[:guesser_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :elapsed_time %>
    <%= form.number_field :elapsed_time, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": solution.errors[:elapsed_time].none?, "border-red-400 focus:outline-red-600": solution.errors[:elapsed_time].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :guesses %>
    <%= form.textarea :guesses, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": solution.errors[:guesses].none?, "border-red-400 focus:outline-red-600": solution.errors[:guesses].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :puzzle_id %>
    <%= form.text_field :puzzle_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": solution.errors[:puzzle_id].none?, "border-red-400 focus:outline-red-600": solution.errors[:puzzle_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
