<div id="<%= dom_id solution %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= solution.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Guesser name:</strong>
    <%= solution.guesser_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Elapsed time:</strong>
    <%= solution.elapsed_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Guesses:</strong>
    <%= solution.guesses %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Puzzle:</strong>
    <%= solution.puzzle_id %>
  </div>
</div>
