<div id="<%= dom_id solution %>" class="w-full sm:w-auto my-6">
  <% after_answers = solution.answer_is_after %>
  <% before_answers = solution.answer_is_before %>

  <div class="after-guesses flex" id="after">
    <% if after_answers.any? %>
      <label class="text-right w-36 pr-2 relative font-bold self-end" id="after-label"> is after: </label>
      <%= render 'guess_list', guesses: after_answers, italic_check: solution.most_recent_guess %>
    <% else%>
      <label class="w-36 pr-2 relative font-bold self-end" id="after-label-no-word"></label>
    <% end %>
  </div>

  <div class="guesser-section flex">
    <label class="text-right w-36"></label>
    <%= render solution.status, solution: solution %>
  </div>

  <div class="before-guesses flex" id="before">
    <% if before_answers.any? %>
      <label class="text-right w-36 pr-2 relative font-bold self-end" id="before-label"> is before: </label>
      <%= render 'guess_list', guesses: before_answers, italic_check: solution.most_recent_guess %>
    <% else%>
      <label class="w-36 pr-2 relative font-bold self-end" id="before-label-no-word"></label>
    <% end %>
  </div>
  <%= form_with(model: solution, url: give_up_solution_path(solution), class: "", data: { turbo_confirm: "Really give up? Lmao" }) do |form| %>
    <%= form.submit 'give up :(', class: 'text-sm underline cursor-pointer text-blue-600 ml-50 mt-1' %>
  <% end %>
</div>
